@page
@model LudoV2Web.Pages.ExistingGamesModel
@{
}

<link rel="stylesheet" href="~/css/styling.css" />


<div>
    @foreach (var game in @Model.Games)
    {
        <p class="game-name">Name of the game: @game.GameName</p>
        <p class="current-turn">current turn: @game.CurrentTurn</p>

        <form method="post">
            <input type="hidden" asp-for="@Model.Game.Id" value="@game.Id" />
            <input type="hidden" asp-for="@Model.Game.CurrentTurn" value="@game.CurrentTurn" />
            <input type="hidden" asp-for="@Model.Game.NumberOfPlayers" value="@game.NumberOfPlayers" />
            <input type="hidden" asp-for="@Model.Game.FirstPlace" value="@game.FirstPlace" />
            <input type="hidden" asp-for="@Model.Game.SecondPlace" value="@game.SecondPlace" />
            <input type="hidden" asp-for="@Model.Game.ThirdPlace" value="@game.ThirdPlace" />
            <input type="hidden" asp-for="@Model.Game.FourthPlace" value="@game.FourthPlace" />
            <input type="hidden" asp-for="@Model.Game.GameName" value="@game.GameName" />
            <button class="button" type="submit">Play</button>
        </form>
        <div class="divider">
            <h5>--------------------------------</h5>
        </div>

    }
</div>