@page
@model LudoV2Web.Pages.ExistingGamesModel
@{
}

<link rel="stylesheet" href="~/css/styling.css" />


<div>
    @foreach (var game in @Model.Games)
    {
        <p class="game-name">Name of the game: @game.GameName</p>
        <p class="current-turn">current turn: @game.CurrentTurn</p>

        <form method="post">
            <input type="hidden" asp-for="@Model.Game.Id" value="@game.Id" />
            <input type="hidden" asp-for="@Model.Game.GameName" value="@game.GameName" />
            <button class="button" type="submit">Play</button>
        </form>
        <a class="button" href="/Ludo">Spactate</a>
    }
</div>