@page
@model LudoV2Web.Pages.UserGamesModel
@{
}

@if (Model.UserId == 0)
{
    <p>Vänligen logga in för att se seplen du är med i</p>
}
@if (Model.Games.Count < 0)
{
    <p>Du är inte med i några spel</p>
}
else
{
    foreach (var game in Model.Games)
    {
        <p>@game.GameName</p>
        <p>current turn: @game.CurrentTurn</p>

        <form method="post">
            <input type="hidden" asp-for="@Model.Game.Id" value="@game.Id" />
            <input type="hidden" asp-for="@Model.Game.GameName" value="@game.GameName" />
            <button type="submit">Play</button>
        </form>
    }
}


